ament-lint==0.12.14
launch-testing-ros==0.19.12
topic-monitor==0.20.5
rosidl-cli==3.1.7
rqt-reconfigure==1.1.2
examples-rclpy-minimal-publisher==0.15.4
teleop-twist-keyboard==2.4.0
rqt-srv==1.0.3
launch-ros==0.19.12
examples-rclpy-minimal-action-client==0.15.4
examples-rclpy-minimal-client==0.15.4
sros2==0.10.7
rqt-service-caller==1.0.5
ros2run==0.18.14
tf2-ros-py==0.25.16
rqt-console==2.0.3
rqt-graph==1.3.1
rqt-publisher==1.5.0
ros2multicast==0.18.14
rqt-gui==1.1.7
ros2bag==0.15.15
rqt-msg==1.2.0
ament-cpplint==0.12.14
ament-flake8==0.12.14
examples-rclpy-executors==0.15.4
sensor-msgs-py==4.9.0
ros2interface==0.18.14
rqt-bag==1.1.5
ros2doctor==0.18.14
rqt-topic==1.5.0
ros2service==0.18.14
osrf-pycommon==2.1.6
ros2topic==0.18.14
nav2-simple-commander==1.0.0
ros2pkg==0.18.14
rqt-py-console==1.0.2
ament-package==0.14.1
action-tutorials-py==0.20.5
launch==1.0.10
rqt-bag-plugins==1.1.5
examples-rclpy-minimal-action-server==0.15.4
ament-uncrustify==0.12.14
ros2launch==0.19.12
ament-cppcheck==0.12.14
domain-coordinator==0.10.0
rosidl-runtime-py==0.9.3
rqt-plot==1.1.5
launch-xml==1.0.10
ros2action==0.18.14
rqt-shell==1.0.2
ros2param==0.18.14
ros2node==0.18.14
examples-rclpy-minimal-service==0.15.4
tf2-tools==0.25.16
rqt-gui-py==1.1.7
ament-xmllint==0.12.14
ament-pep257==0.12.14
demo-nodes-py==0.20.5
examples-rclpy-minimal-subscriber==0.15.4
quality-of-service-demo-py==0.20.5
ament-index-python==1.4.0
ros2component==0.18.14
ament-copyright==0.12.14
ros2cli==0.18.14
rpyutils==0.2.1
ament-lint-cmake==0.12.14
launch-testing==1.0.10
rqt-action==2.0.1
ros2lifecycle==0.18.14
launch-yaml==1.0.10
visualization-msgs==4.9.0
diagnostic-msgs==4.9.0
lifecycle-msgs==1.2.2
logging-demo==0.20.5
std-msgs==4.9.0
map-msgs==2.1.0
rqt-py-common==1.1.7
rosgraph-msgs==1.2.2
rosidl-cmake==3.1.7
pcl-msgs==1.0.0
actionlib-msgs==4.9.0
image-geometry==3.2.1
dwb-msgs==1.1.19
rosidl-generator-cpp==3.1.7
angles==1.15.0
mrpt-msgs==0.5.0
tf2-kdl==0.25.16
rosbag2-py==0.15.15
rosidl-parser==3.1.7
diagnostic-updater==4.0.6
laser-geometry==2.4.0
example-interfaces==0.9.3
cv-bridge==3.2.1
tf2-sensor-msgs==0.25.16
shape-msgs==4.9.0
rosbag2-interfaces==0.15.15
python-qt-binding==1.1.2
resource-retriever==3.1.3
rosidl-typesupport-c==2.0.2
nav-2d-msgs==1.1.19
sensor-msgs==4.9.0
action-tutorials-interfaces==0.20.5
tf2-geometry-msgs==0.25.16
rcl-interfaces==1.2.2
qt-gui==2.2.4
std-srvs==4.9.0
message-filters==4.3.8
interactive-markers==2.3.2
unique-identifier-msgs==2.2.1
action-msgs==1.2.2
geographic-msgs==1.0.6
gazebo-msgs==3.9.0
rclpy==3.3.17
trajectory-msgs==4.9.0
pendulum-msgs==0.20.5
rcutils==5.1.7
rosidl-typesupport-cpp==2.0.2
ament-cmake-test==1.3.12
geometry-msgs==4.9.0
qt-gui-py-common==2.2.4
smclib==4.1.2
qt-dotgraph==2.2.4
rosidl-typesupport-introspection-c==3.1.7
composition-interfaces==1.2.2
scripts==3.9.0
data-tamer-msgs==0.9.3
turtlesim==1.4.2
rosidl-typesupport-fastrtps-cpp==2.2.2
rosidl-typesupport-fastrtps-c==2.2.2
tf2-msgs==0.25.16
plotjuggler-msgs==0.2.3
rmw-dds-common==1.6.0
stereo-msgs==4.9.0
rosidl-generator-py==0.14.5
nav2-common==1.1.19
tf2-py==0.25.16
slam-toolbox==2.6.10
qt-gui-cpp==2.2.4
builtin-interfaces==1.2.2
nav2-msgs==1.1.19
statistics-msgs==1.2.2
bond==4.1.2
nav-msgs==4.9.0
rosidl-typesupport-introspection-cpp==3.1.7
robot-localization==3.5.4
rosidl-generator-c==3.1.7
rosidl-adapter==3.1.7
nvidia-nvshmem-cu12==3.3.20
pip==25.3
Jinja2==3.1.6
nvidia-cufile-cu12==1.11.1.6
mpmath==1.3.0
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cusparse-cu12==12.5.4.2
triton==3.5.0
nvidia-nccl-cu12==2.27.5
sympy==1.14.0
evdev==1.6.1
av==16.0.1
torchvision==0.24.0+cu126
websockets==15.0.1
cryptography==46.0.3
nvidia-curand-cu12==10.3.7.77
dnspython==2.8.0
pyee==13.0.0
pygame==2.6.1
filelock==3.19.1
nvidia-cusparselt-cu12==0.7.1
nvidia-cudnn-cu12==9.10.2.21
typing_extensions==4.15.0
aiortc==1.14.0
nvidia-nvtx-cu12==12.6.77
google-crc32c==1.7.1
nvidia-cusolver-cu12==11.7.1.2
nvidia-cufft-cu12==11.3.0.4
nvidia-cuda-cupti-cu12==12.6.80
pylibsrtp==1.0.0
nvidia-cublas-cu12==12.6.4.1
pyOpenSSL==25.3.0
cffi==2.0.0
nvidia-nvjitlink-cu12==12.6.85
torch==2.9.0+cu126
pycparser==2.23
nvidia-cuda-nvrtc-cu12==12.6.77
ifaddr==0.2.0
fsspec==2025.9.0
pyserial==3.5
aioice==0.10.1
networkx==3.3
mistune==3.2.0
pip==25.3
antlr4-python3-runtime==4.9.3
parso==0.8.5
jupyterlab_server==2.28.0
bleach==6.3.0
psutil==7.2.1
smmap==5.0.2
gitdb==4.0.12
dill==0.4.0
executing==2.2.1
idna==3.11
exceptiongroup==1.3.1
annotated-types==0.7.0
soupsieve==2.8.1
httpcore==1.0.9
debugpy==1.8.19
decorator==5.2.1
protobuf==6.33.4
tomli==2.3.0
wcwidth==0.2.14
jupyter_core==5.9.1
babel==2.17.0
ImageIO==2.37.2
python-json-logger==4.0.0
nbformat==5.10.4
ipykernel==7.1.0
multiprocess==0.70.18
Send2Trash==2.0.0
jupyterlab_pygments==0.3.0
pyarrow==22.0.0
websocket-client==1.9.0
datasets==4.4.2
attrs==25.4.0
tornado==6.5.4
rpds-py==0.30.0
aiohappyeyeballs==2.6.1
fastjsonschema==2.21.2
overrides==7.7.0
cycler==0.12.1
argon2-cffi-bindings==25.1.0
matplotlib==3.10.8
ipython==8.38.0
asttokens==3.0.1
pexpect==4.9.0
ptyprocess==0.7.0
xxhash==3.6.0
fonttools==4.61.1
platformdirs==4.5.1
aiosignal==1.4.0
requests==2.32.5
frozenlist==1.8.0
webcolors==25.10.0
click==8.3.1
matplotlib-inline==0.2.1
notebook_shim==0.2.4
jupyter_server_terminals==0.5.3
prompt_toolkit==3.0.52
argon2-cffi==25.1.0
scikit-image==0.25.2
huggingface_hub==1.2.4
lightning-utilities==0.15.2
isoduration==20.11.0
h5py==3.15.1
jupyter-lsp==2.3.0
pytz==2025.2
numpy==2.2.6
kiwisolver==1.4.9
nbconvert==7.16.6
certifi==2026.1.4
packaging==25.0
terminado==0.18.1
defusedxml==0.7.1
referencing==0.37.0
pyparsing==3.3.1
sentry-sdk==2.50.0
propcache==0.4.1
nest-asyncio==1.6.0
pandas==2.3.3
lazy_loader==0.4
h11==0.16.0
PyYAML==6.0.3
jedi==0.19.2
dlp-vat-ml==0.1.0
setuptools==80.9.0
python-dateutil==2.9.0.post0
jupyter_client==8.7.0
pydantic==2.12.5
pure_eval==0.2.3
tinycss2==1.4.0
tqdm==4.67.1
dlp-vat-common==0.1.0
prometheus_client==0.23.1
jsonschema==4.26.0
pillow==12.1.0
wheel==0.45.1
torchmetrics==1.8.2
lark==1.3.1
omegaconf==2.3.0
comm==0.2.3
pandocfilters==1.5.1
webencodings==0.5.1
wandb==0.24.0
beautifulsoup4==4.14.3
uri-template==1.3.0
MarkupSafe==3.0.3
yarl==1.22.0
jupyterlab==4.5.1
GitPython==3.1.46
scipy==1.15.3
shellingham==1.5.4
async-timeout==5.0.1
pyzmq==27.1.0
rfc3987-syntax==1.1.0
tifffile==2025.5.10
typer-slim==0.21.1
rfc3339-validator==0.1.4
json5==0.13.0
httpx==0.28.1
contourpy==1.3.2
arrow==1.4.0
rfc3986-validator==0.1.1
opencv-python==4.12.0.88
anyio==4.12.1
traitlets==5.14.3
Pygments==2.19.2
aiohttp==3.13.3
natsort==8.4.0
pydantic_core==2.41.5
stack-data==0.6.3
urllib3==2.6.3
hf-xet==1.2.0
fqdn==1.5.1
jsonpointer==3.0.0
multidict==6.7.0
nbclient==0.10.4
hydra-core==1.3.2
tzdata==2025.3
jupyter_server==2.17.0
charset-normalizer==3.4.4
jsonschema-specifications==2025.9.1
jupyter-events==0.12.0
six==1.17.0
typing-inspection==0.4.2
dlp-vat-pipeline==0.1.0
async-lru==2.0.5
dlp-vat-common==0.1.0
dlp-vat-ml==0.1.0
dlp-vat-pipeline==0.1.0
