moveit==0.1.3
moveit-configs-utils==2.5.9
srdfdom==2.0.8
moveit-task-constructor-msgs==0.1.3
launch-param-builder==0.1.1
launch-ros==0.19.8
nav2-simple-commander==1.0.0
rqt-service-caller==1.0.5
rqt-moveit==1.0.1
rqt-msg==1.2.0
launch-xml==1.0.7
demo-nodes-py==0.20.5
ros2topic==0.18.11
rqt-bag-plugins==1.1.5
rqt-graph==1.3.1
ros2pkg==0.18.11
ros2action==0.18.11
ros2doctor==0.18.11
ros2lifecycle==0.18.11
ament-uncrustify==0.12.11
rqt==1.1.7
rqt-gauges==0.0.3
ros2controlcli==2.51.0
ament-cpplint==0.12.11
examples-rclpy-minimal-subscriber==0.15.3
ros2component==0.18.11
rqt-joint-trajectory-controller==2.39.0
ament-lint-cmake==0.12.11
rqt-py-console==1.0.2
ros2interface==0.18.11
ros2test==0.4.0
rqt-publisher==1.5.0
examples-rclpy-minimal-client==0.15.3
ament-pep257==0.12.11
ros2multicast==0.18.11
teleop-twist-keyboard==2.4.0
ros2bag==0.15.13
launch-testing==1.0.7
rqt-action==2.0.1
ros2service==0.18.11
launch-testing-ros==0.19.8
examples-rclpy-minimal-publisher==0.15.3
ros2cli==0.18.11
examples-rclpy-executors==0.15.3
rqt-robot-monitor==1.0.6
urdfdom-py==1.2.1
quality-of-service-demo-py==0.20.5
ament-copyright==0.12.11
ros2run==0.18.11
rqt-gui-py==1.1.7
rqt-gui==1.1.7
ros2param==0.18.11
topic-monitor==0.20.5
generate-parameter-library-py==0.5.0
ament-cppcheck==0.12.11
rqt-robot-dashboard==0.5.8
ament-lint==0.12.11
rqt-tf-tree==1.0.5
rqt-console==2.0.3
examples-rclpy-minimal-action-server==0.15.3
rqt-bag==1.1.5
ament-package==0.14.0
joint-state-publisher==2.4.0
launch-yaml==1.0.7
rqt-dotgraph==0.0.4
rosidl-cli==3.1.6
rqt-controller-manager==2.46.0
rosidl-runtime-py==0.9.3
ros2node==0.18.11
rqt-runtime-monitor==1.0.0
rqt-shell==1.0.2
ament-xmllint==0.12.11
action-tutorials-py==0.20.5
sensor-msgs-py==4.2.4
camera-calibration==3.0.6
ros2launch==0.19.8
rqt-robot-steering==1.0.0
rqt-srv==1.0.3
examples-rclpy-minimal-action-client==0.15.3
ament-flake8==0.12.11
osrf-pycommon==2.1.4
tf2-ros-py==0.25.9
ament-index-python==1.4.0
tf2-tools==0.25.9
rqt-reconfigure==1.1.2
rqt-topic==1.5.0
ament-clang-format==0.12.14
domain-coordinator==0.10.0
sros2==0.10.5
launch==1.0.7
rpyutils==0.2.1
rqt-plot==1.1.2
joint-state-publisher-gui==2.4.0
examples-rclpy-minimal-service==0.15.3
gazebo-msgs==3.7.0
qt-gui==2.2.3
rosgraph-msgs==1.2.1
diagnostic-msgs==4.2.4
lifecycle-msgs==1.2.1
controller-manager-msgs==2.46.0
graph-msgs==0.2.0
gps-msgs==2.0.4
rosidl-typesupport-fastrtps-cpp==2.2.2
controller-manager==2.46.0
mocap4r2-control-msgs==0.0.7
unique-identifier-msgs==2.2.1
pendulum-msgs==0.20.5
visualization-msgs==4.2.4
rosidl-typesupport-introspection-cpp==3.1.6
stereo-msgs==4.2.4
xacro==2.0.8
ros-gz-interfaces==0.244.16
pcl-msgs==1.0.0
tf2-geometry-msgs==0.25.9
nav2-msgs==1.1.17
rosidl-typesupport-cpp==2.0.2
map-msgs==2.1.0
ros-ign-interfaces==0.244.16
composition-interfaces==1.2.1
std-srvs==4.2.4
slam-toolbox==2.6.9
sensor-msgs==4.2.4
vision-msgs==4.1.1
image-geometry==3.2.1
object-recognition-msgs==2.0.0
ament-cmake-test==1.3.11
moveit-msgs==2.2.1
nav-2d-msgs==1.1.17
diagnostic-updater==4.0.0
cv-bridge==3.2.1
nav-msgs==4.2.4
test-msgs==1.2.1
message-filters==4.3.5
scripts==3.7.0
rqt-py-common==1.1.7
rosidl-typesupport-introspection-c==3.1.6
rmw-dds-common==1.6.0
rosidl-generator-py==0.14.4
bond==3.0.2
rosidl-cmake==3.1.6
statistics-msgs==1.2.1
std-msgs==4.2.4
octomap-msgs==2.0.1
velodyne-msgs==2.5.1
nav2-common==1.1.17
action-msgs==1.2.1
rosidl-adapter==3.1.6
qt-dotgraph==2.2.3
turtlesim==1.4.2
interactive-markers==2.3.2
tf2-kdl==0.25.9
grid-map-msgs==2.0.0
tf2-msgs==0.25.9
realsense2-camera-msgs==4.55.1
ackermann-msgs==2.0.2
trajectory-msgs==4.2.4
qt-gui-py-common==2.2.3
resource-retriever==3.1.2
qt-gui-cpp==2.2.3
smclib==3.0.2
rosidl-parser==3.1.6
rosidl-generator-cpp==3.1.6
angles==1.15.0
actuator-msgs==0.0.1
builtin-interfaces==1.2.1
control-msgs==4.7.0
rosidl-typesupport-fastrtps-c==2.2.2
actionlib-msgs==4.2.4
theora-image-transport==2.5.2
rcutils==5.1.6
rosidl-typesupport-c==2.0.2
example-interfaces==0.9.3
python-qt-binding==1.1.2
shape-msgs==4.2.4
rcl-interfaces==1.2.1
geometry-msgs==4.2.4
tf2-py==0.25.9
rosbag2-interfaces==0.15.13
action-tutorials-interfaces==0.20.5
rosbag2-py==0.15.13
laser-geometry==2.4.0
rosidl-generator-c==3.1.6
rclpy==3.3.15
dwb-msgs==1.1.17
logging-demo==0.20.5
keras==2.14.0
python-xlib==0.33
stack-data==0.6.3
hpack==4.1.0
scikit-image==0.24.0
asttokens==3.0.0
websockets==15.0.1
python-dotenv==1.1.0
aioquic==1.2.0
pgraph-python==0.6.3
orjson==3.10.16
jedi==0.19.2
plotly==5.24.1
transforms3d==0.4.2
einops==0.8.0
lazy_loader==0.4
dash==2.18.2
nvidia-cusolver-cu11==11.4.1.48
pytorch-ranger==0.1.1
rtb-data==1.0.1
typing-inspection==0.4.0
flatbuffers==24.3.25
tensorflow-io-gcs-filesystem==0.37.1
pytorch-lamb==1.0.0
pytorch-lightning==2.3.3
h11==0.14.0
langgraph-prebuilt==0.1.8
Flask==3.0.3
MarkupSafe==2.1.5
rich==14.0.0
tensorboardX==2.6.4
urllib3==2.5.0
nest-asyncio==1.6.0
aiosignal==1.3.1
mdurl==0.1.2
google-auth-oauthlib==1.0.0
cffi==1.17.1
virtualenv==20.32.0
zstandard==0.23.0
jsonpointer==3.0.0
passlib==1.7.4
iopath==0.1.10
distlib==0.4.0
h2==4.1.0
nvidia-cublas-cu11==11.11.3.6
pycryptodome==3.22.0
lion-pytorch==0.2.3
blobfile==3.0.0
ml-dtypes==0.2.0
Werkzeug==3.0.3
lightning-utilities==0.11.6
psutil==6.0.0
sympy==1.12
nbformat==5.10.4
tensorflow-estimator==2.14.0
swift-sim==1.1.0
regex==2024.7.24
fastmcp==2.2.3
asgiref==3.8.1
joblib==1.4.2
prompt_toolkit==3.0.48
safetensors==0.4.5
parso==0.8.4
langgraph-checkpoint==2.0.24
httpx==0.28.1
fire==0.6.0
nvidia-cufft-cu11==10.9.0.58
hyperframe==6.0.1
jupyter_core==5.7.2
llama_models==0.0.13
tzdata==2024.2
sortedcontainers==2.4.0
python-dateutil==2.9.0.post0
ansitable==0.11.4
tiktoken==0.7.0
tabulate==0.9.0
comm==0.2.2
dash-table==5.0.0
fastjsonschema==2.21.1
Jinja2==3.1.3
tifffile==2024.7.24
click==8.1.8
xxhash==3.5.0
smmap==5.0.2
yarl==1.9.4
requests-oauthlib==2.0.0
spatialgeometry==1.1.0
zope.interface==7.2
nodeenv==1.9.1
kiwisolver==1.4.5
flash-attn==2.6.3
multidict==6.0.5
torchaudio==2.3.1+cu118
colored==2.3.0
triton==2.3.1
progress==1.6.1
pyasn1_modules==0.4.0
tensorboard-data-server==0.7.2
httpx-sse==0.4.0
wandb==0.21.0
ConfigArgParse==1.7
llama_toolchain==0.0.13
openapi-pydantic==0.5.1
packaging==24.1
langchain-text-splitters==0.3.8
wrapt==1.14.1
pyquaternion==0.9.9
mpmath==1.3.0
pyserial==3.5
typer==0.15.2
evdev==1.6.1
sophia-opt==0.2.2
aiohappyeyeballs==2.3.2
requests==2.32.3
absl-py==2.1.0
scikit-learn==1.6.1
gast==0.6.0
adabelief-pytorch==0.2.1
frozenlist==1.4.1
tokenizers==0.19.1
tornado==6.4.2
httpcore==1.0.5
ldap3==2.9.1
websocket-client==1.8.0
async-timeout==4.0.3
charset-normalizer==3.3.2
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-runtime-cu11==11.8.89
greenlet==3.2.1
keyboard==0.13.5
roboticstoolbox-python==1.1.0
kaitaistruct==0.10
pycparser==2.22
mcp==1.6.0
spatialmath-python==1.1.8
yapf==0.43.0
nvidia-nvtx-cu11==11.8.86
gitdb==4.0.12
jsonschema==4.23.0
threadpoolctl==3.5.0
fonttools==4.53.1
imageio==2.34.2
omegaconf==2.3.0
google-auth==2.32.0
accelerate==0.34.2
tomli==2.2.1
runstats==2.0.0
filelock==3.13.1
torchvision==0.18.1+cu118
pydantic==2.9.1
gevent==25.4.2
nvidia-curand-cu11==10.3.0.86
tensorflow==2.14.0
shellingham==1.5.4
termcolor==2.4.0
jupyterlab_widgets==3.0.13
itsdangerous==2.2.0
matplotlib-inline==0.1.7
annotated-types==0.7.0
opencv-python==4.12.0.88
pynput==1.8.1
torch==2.3.1+cu118
dash-core-components==2.0.0
protobuf==4.25.4
sniffio==1.3.1
service-identity==24.2.0
libclang==18.1.1
retrying==1.3.4
sentry-sdk==2.33.2
requests-toolbelt==1.0.0
anyio==4.9.0
mitmproxy_rs==0.10.7
portalocker==2.10.1
aiohttp==3.10.0
tenacity==9.0.0
publicsuffix2==2.20191221
blinker==1.9.0
pycocotools==2.0.8
pyperclip==1.9.0
pyasn1==0.6.0
starlette==0.46.2
open3d==0.19.0
fsspec==2024.2.0
grpcio==1.65.1
zope.event==5.0
pygame==2.6.1
nvidia-cusparse-cu11==11.7.5.86
hydra-core==1.3.2
pre_commit==4.2.0
uv==0.6.16
uvicorn==0.34.2
cfgv==3.4.0
langgraph-sdk==0.1.63
executing==2.1.0
sse-starlette==2.3.3
urwid==2.6.16
ormsgpack==1.9.1
markdown-it-py==3.0.0
platformdirs==4.3.6
ipywidgets==8.1.5
GitPython==3.1.45
typing_extensions==4.11.0
cachetools==5.4.0
tqdm==4.66.4
cycler==0.12.1
ipython==8.31.0
exceptiongroup==1.2.2
ruamel.yaml==0.18.6
Pygments==2.19.1
supervision==0.25.1
traitlets==5.14.3
tensorboard==2.14.1
pure_eval==0.2.3
langchain-core==0.3.56
jsonpatch==1.33
h5py==3.11.0
identify==2.6.12
antlr4-python3-runtime==4.9.3
lxml==5.3.0
langsmith==0.3.34
nvidia-nccl-cu11==2.20.5
Markdown==3.6
rpds-py==0.22.3
cryptography==44.0.2
mitmproxy==11.0.2
pillow==10.4.0
timm==1.0.14
torchmetrics==1.4.0.post0
referencing==0.35.1
langgraph==0.3.34
nvidia-cudnn-cu11==8.7.0.84
huggingface-hub==0.24.6
wcwidth==0.2.13
wsproto==1.2.0
astunparse==1.6.3
SQLAlchemy==2.0.40
contourpy==1.2.1
dash-html-components==2.0.0
nvidia-cuda-nvrtc-cu11==11.8.89
fastmri==0.1
torch-optimizer==0.3.0
opt-einsum==3.3.0
msgpack==1.1.0
pandas==2.2.3
ikpy==3.4.2
rsa==4.9
ruamel.yaml.clib==0.2.12
pytorch-msssim==1.0.0
pydantic-settings==2.9.1
langchain==0.3.24
widgetsnbextension==4.0.13
addict==2.4.0
attrs==23.2.0
pylsqpack==0.3.20
networkx==3.2.1
jsonschema-specifications==2024.10.1
pydantic_core==2.23.3
defusedxml==0.7.1
google-pasta==0.2.0
pycryptodomex==3.20.0
transformers==4.44.2
pyOpenSSL==24.3.0
soupsieve==2.8.1
PyYAML==6.0.3
bleach==6.3.0
matplotlib==3.10.8
beautifulsoup4==4.14.3
pyparsing==3.3.1
mistune==3.2.0
webcolors==25.10.0
wheel==0.45.1
nbconvert==7.16.6
numpy==2.2.6
babel==2.17.0
decorator==5.2.1
jupyterlab_pygments==0.3.0
argon2-cffi-bindings==25.1.0
Send2Trash==2.1.0
jupyterlab_server==2.28.0
isoduration==20.11.0
jupyter-lsp==2.3.0
argon2-cffi==25.1.0
pytz==2025.2
prometheus_client==0.24.1
python-json-logger==4.0.0
fqdn==1.5.1
pyzmq==27.1.0
six==1.17.0
jupyter_client==8.8.0
tinycss2==1.4.0
webencodings==0.5.1
rfc3986-validator==0.1.1
scipy==1.15.3
ipykernel==7.1.0
pandocfilters==1.5.1
idna==3.11
pip==25.3
ptyprocess==0.7.0
async-lru==2.0.5
dlp-vat-ml==0.1.0
debugpy==1.8.19
jupyterlab==4.5.2
arrow==1.4.0
jupyter-events==0.12.0
natsort==8.4.0
setuptools==80.9.0
nbclient==0.10.4
json5==0.13.0
terminado==0.18.1
pexpect==4.9.0
jupyter_server==2.17.0
notebook_shim==0.2.4
overrides==7.7.0
uri-template==1.3.0
jupyter_server_terminals==0.5.4
rfc3339-validator==0.1.4
dlp-vat-pipeline==0.1.0
certifi==2026.1.4
dlp-vat-ml==0.1.0
dlp-vat-pipeline==0.1.0
